@import url('https://fonts.googleapis.com/css?family=Passion+One');



.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: rgb(245, 247, 248);
}
.color-light {
    background: #55E6F7;
}
.titulos{
    font-weight:inherit;
font-size: 2.1rem;
font-family: 'Passion One', cursive;
color: #0056B3;
}
input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn1 {
    border: 0;
    display:block;
    padding:1em 3em;
    background:rgb(233, 10, 10);
    color:#003A61;
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background: #C7F7E8;
    padding:.5em;
    font-weight:inherit;
    font-family: 'Passion One', cursive;
    cursor:pointer;
}
.esteBtn{
    background-color:rgb(221, 3, 3);
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#A5F883;
    color:#003A61;
    margin-bottom:1em;
    cursor:pointer;
}
