<!--The content below is only a placeholder and can be replaced.-->

  



<div class="container-fluid fondoPrinBaner">
<div class="row">

    <div class="col-md-3"> <a routerLink=""><img class="pequenaLogo" src="../../assets/imagenes/Logo_Donaton1.jpg"></a>  </div>
  <div class="col-md-4"></div>
    <div class="col-md-2 izquierda color1 borde" routerLink="about/48">Contacto</div>
   <div class="col-md-2 izquierda"> <a routerLink="liz">Dona ahora ;)</a></div>
  </div>
</div>

<router-outlet></router-outlet>



<div class="container-fluid margenson">
    <div class="row d-flex justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
        <div class="row">
        <div class="col-md-12 d-flex justify-content-center">   <img class="sec" src="../assets/imagenes/segundaseccion1.jpg"> </div>
     
        <div class="col-md-12 estiloS2 d-flex justify-content-center"> Siempre hay alguien esperando tu apoyo  </div>
        </div>
      </div>
    <div class="col-md-4 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">  <img class="sec justify-content-center" src="../assets/imagenes/segundaseccion2.jpg">  </div>
          </div>
            <div class="row">
             
            <div class="col-md-12 estiloS2 d-flex  align-bottom"> La alegria de las personas siempre es algo que alegrara el corazon de otras  </div>
            </div>
          </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12 estiloS2 d-flex justify-content-center"> Siempre hay alguien esperando tu apoyo  </div>
        <div class="col-md-12 d-flex justify-content-center"> <img class="sec" src="../assets/imagenes/segundaseccion3.jpg">   </div>
     
       
      </div>
   
        </div>
  </div>
  </div>


  <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 ">  
            <a href=""><picture >
                <source srcset="../assets/imagenes/prin42.jpg" media="(max-width: 710px)">
                    <source  srcset="../assets/imagenes/print41.jpg" media="(min-width: 710px) and (max-width: 1000px)">
                <source srcset="../assets/imagenes/prin4.jpg">
                  <img class="sec3" src="../assets/imagenes/prin4.jpg">
            </picture></a>
           
        <div class=" ImagenDentro imagenDentroDesaparece ">   
          
          <a href=""><picture >
              <source srcset="../assets/imagenes/secTercera12.jpg" media="(max-width: 710px)">
                  <source  srcset="../assets/imagenes/secTercera11.jpg" media="(min-width: 710px) and (max-width: 1000px)">
              <source srcset="../assets/imagenes/secTercera1.jpg">
                <img class="sec3p" src="../assets/imagenes/secTercera1.jpg">
          </picture></a>
        
        
        
        
        </div>
        <div class=" TextoDentro estiloli "> Todo Cuenta ¡¡ <li>puedes Donar Ropa</li><li>Tambien alimento</li><li>Puedes Donar Utencilios de cocina</li>  </div>
      </div>
      </div>

  </div>

<app-footer-donaton></app-footer-donaton>































