@import url('https://fonts.googleapis.com/css?family=Passion+One');


.fondoPrinBaner{
background-color: #55E6F7;
opacity: 0.7;
filter:  alpha(opacity=50);
}
.pequenaLogo{
width: 19rem;
}
.margenson{
    margin: 2rem;
    }
.color1{
    color: snow;
    text-decoration: none
}
.a:link{
    text-decoration: none;
}
.estiloS2{
    font-weight:inherit;
font-size: 1.5rem;
font-family: 'Passion One', cursive;
color: blue;

}
.sec3{
    width: 100%;
    height: 50rem;
} 
.sec3p{
    width: 40rem;
    height: 25rem;
} 
li{
    font-weight:inherit;
    font-size: 3rem;
    font-family: 'Passion One', cursive;
    color: rgba(209, 209, 235, 0.795);  
}
.ImagenDentro{
    position: absolute;
    top:10rem;
    right: 3rem;
    font-size: 4rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1rem;
    
    }
    .TextoDentro{
        position: absolute;
        top:10rem;
        left: 3rem;
    }
    .estiloli{
        font-weight:inherit;
        font-size: 4rem;
        font-family: 'Passion One', cursive;
        color: white;
    }
.sec{
    width: 10rem;
    height: 10rem;
}
.borde{

    border: none;
}
.izquierda{
    font-weight:inherit;
font-size: 2.1rem;
font-family: 'Passion One', cursive;
}

.estiloNavMedio{
    font-weight: bold;
    color: #499982;
font-size: 1.5rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:rgb(199, 247, 232); 
text-align: center;
}

.pad{
padding-left: 0rem;
padding-right: 0rem;

}
.accion:active{
    background-color:rgb(85, 230, 247);
}


@media (max-width: 710px) {
    .imagenDentroDesaparece {
        display: none;
    }
}