.fondo{
    margin: 0rem;
    padding: 0rem;
    
 }
.ImgPrincipal{
    width: 100%;
}
.bienv{
position: absolute;
top:18rem;
font-size: 5rem;
font-family: 'Passion One', cursive;
color: rgba(237, 237, 243, 0.795);  
opacity: 1rem;
left: 9rem;;
}
.bienv2{
    position: absolute;
    top:25rem;
    left:9rem;
    font-size: 5rem;
    font-family: 'Passion One', cursive;
    color: rgba(237, 237, 243, 0.795);  
    opacity: 1rem;
    
    }


.pequenaLogo{
    max-width: 16rem;
    display: inline;

  
}
.fijo{
    position: fixed;
  
}
.padin{
    padding-right: 0rem; 
    padding-left: 0rem; 
}
.estilosMedio{
    font-weight: bold;
    color: #499982;
font-size: 1.8rem;
font-family: 'Passion One', cursive;
background-color:rgb(199, 247, 232); 
}



.estiloRegistro{
    padding: 0rem 0rem;
    background-color:rgb(199, 247, 232); 
    border-radius: 2rem;
    padding-right: 0rem; 
    padding-left: 0rem;
    display: inline;
}
.margenBaner{
    padding: 1.1rem 1rem 1rem 0rem;
    height: 6rem;    
}

.estiloSalir:hover{
    padding: 0rem 0rem;
    background-color:rgb(212, 231, 233); 
    border-radius: 2rem;
    padding-right: 0rem; 
 padding-left: 0rem;
 display: inline;
}

@media (max-width: 710px) {
    .chicasLetras {
        font-size: 1.4rem; 
        font-weight: 10rem;
        color: #333333;
        font-family: Arial, Helvetica, sans-serif;
        line-height: .8em;
    }

  }
  @media (max-width: 710px) {
    .tituloPchic {
        font-size: 2.5rem;
        font-stretch: expanded;
        font-weight:15rem;
        color: #333333;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
    }
}
